body{
background: #000;
color: #f3f2f2;
}
.square{
    width: 60px;
    height: 60px;
    background: #f3f2f2;
    border: 1px solid #999;
    border-radius: 50%;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;

}

.board-row::after{
    content: "";
    display: table;
    clear: both;
}

.status{
    margin-bottom: 10px;
    font-size: 24px;
}